<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>444898524944-dr7t2itpksn8upmb39rin445lv3h1u8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444898524944-dr7t2itpksn8upmb39rin445lv3h1u8k</string>
	<key>API_KEY</key>
	<string>AIzaSyAV7_JkDPrv51Ec7QxJswDJvTD6GakqqRg</string>
	<key>GCM_SENDER_ID</key>
	<string>444898524944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sparxo.glood</string>
	<key>PROJECT_ID</key>
	<string>glood-6c19a</string>
	<key>STORAGE_BUCKET</key>
	<string>glood-6c19a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:444898524944:ios:eab27806df483ea1</string>
	<key>DATABASE_URL</key>
	<string>https://glood-6c19a.firebaseio.com</string>
</dict>
</plist>